@mixin grid-col-definition {
    display: inline-block;

        &:not(:last-child){
            margin-right: $gutter-horizontal;
        }
}


@mixin grid-col-definition-small {
    display: block;

        &:not(:last-child){
            margin-right: $gutter-horizontal-small;
        }
}

@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin banner($light, $dark) {
    display: inline-block;
        position: absolute;
        padding: .4rem 1rem;
        text-transform: uppercase;
        font-size: 2.5rem;
        color: white;
        font-weight: lighter;
        background-image: linear-gradient(to right bottom, rgba($light, .8), rgba($dark,.8));
}


// MEDIA QUERY MANAGER

/*

0 - 600px:          phone
600px - 900px:      Tablet portrait
900px - 1200px:     Tablet lanscape
1200px - 1800px:    Laptop

1800px+:            Desktop - default design in this project


*/

@mixin responsive($device) {
    @if $device == phone{
        @media (max-width: 37.5em) {
            @content;
        }
    }
    @if $device == tab-port{
        @media (max-width: 56.25em) {
            @content;
        }
    }
    @if $device == tab-land{
        @media (max-width: 75em) {
            @content;
        }
    }
    @if $device == laptop{
        @media (max-width: 112.5em) {
            @content;
        }
    }
}