// [COLORS]
$color-primary: #3bcf6c;
$color-primary-light: #89df7a;
$color-primary-dark: #1eca91;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5642fa;

// [SIZES]
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// [for SMALL screen]
$grid-width-small: 94rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal-small: 4rem;