.u-center-text{
    text-align: center;
}

.u-skew-y-2{
    transform: skewY(2deg);
}

.u-underline{
    width: 60%;
    height: 1px;
    background-color: #bbbbbb;
    margin: 1rem 6rem;
}

#u-md-0{
    margin: 0;
    padding: 0;
}